<template>
<v-layout>
  <v-toolbar fixed class="indigo darken-4" dark>
    <v-toolbar-title>Crypto Go Skins</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat @click="buy">Buy</v-btn>
      <v-btn flat @click="sell">Sell</v-btn>
	  <v-btn flat @click="addFunds">Add Funds</v-btn>
      <v-btn flat @click="manageInv">Manage Inventory</v-btn>
	  <v-btn flat v-if="$store.state.isUserLoggedIn" @click="logOut">Log Out</v-btn>
	  <div v-if = "!$store.state.isUserLoggedIn">
	  <input  type="image" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png" onclick="window.location='http://localhost:3001/auth/steam';" /></div>
  <div v-else>
	  Funds: ${{funds}}
  <v-menu>
	<v-btn icon  slot="activator">
	  <v-avatar> <img :src="$store.state.user"> </v-avatar>
	</v-btn>
	<v-list class="indigo darken-4 white--text">
	  <v-list-tile @click="dialog=true">
		<v-list-tile-title class="white--text">Submit Trade Link</v-list-tile-title>
    </v-list-tile>

    <v-list-tile @click="addr_dialog=true">
    <v-list-tile-title class="white--text">Submit Ethereum Address</v-list-tile-title>
	  </v-list-tile>

	  <v-list-tile @click="withdraw_dialog=true">
  <v-list-tile-title class="white--text" >Withdraw Funds</v-list-tile-title>
  </v-list-tile>
	</v-list>
  </v-menu>
</div>
    </v-toolbar-items>
  </v-toolbar>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title> <span class="headline">Submit your trade link URL</span> </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            
              <v-flex xs12>
                <v-text-field v-model="tradeLink" label="Trade Link" required></v-text-field>
              </v-flex>
            
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="tradeLinkSubmit">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
        <v-dialog v-model="withdraw_dialog" persistent max-width="500px">
      <v-card>
        <v-card-title> <span class="headline">Enter your paypal email address</span> </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            
              <v-flex xs12>
                        <v-text-field
      label="E-mail"
      v-model="email"
      :error-messages="this.emailErrors"
      @input="$v.email.$touch()"
      @blur="$v.email.$touch()"
      required
    ></v-text-field>
              </v-flex>

           
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="withdraw_dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="withdrawFunds">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="addr_dialog" persistent max-width="500px">
      <v-card>
        <v-card-title> <span class="headline">Submit your Ethereum Address</span> </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
          
              <v-flex xs12>
                <v-text-field v-model="ethAddr" label="Ethereum Address" required></v-text-field>
              </v-flex>

            
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="addr_dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="ethAddrSubmit">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import Api from "@/services/Api";
import {validationMixin} from "vuelidate";
import {required, email} from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],
  validations: {
    email: {required, email}
  },
  data() {
    return {
      tradeLink: null,
      ethAddr: null,
      addr_dialog: false,
      dialog: false,
      withdraw_dialog: false,
      funds: null,
      email: ""
    };
  },
  beforeMount() {
    this.getFunds();
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    }
  },
  methods: {
    manageInv() {
      this.$router.push({
        name: "Inventory"
      });
    },
    buy() {
      this.$router.push({
        name: "Buy"
      });
    },
    addFunds() {
      this.$router.push({
        name: "AddFunds"
      });
    },
    sell() {
      if (this.$store.state.isUserLoggedIn) {
        this.$router.push({
          name: "Index"
        });
      } else {
        window.location.href = "http://localhost:3001/auth/steam";
      }
    },
    async getFunds() {
      if (this.$store.state.isUserLoggedIn) {
        const response = await Api().get("index");
        this.funds = response.data.funds;
        // .toFixed(2);
        console.log(response.data);
      }
    },
    logOut() {
      this.$store.dispatch("deleteToken");
    },
    async tradeLinkSubmit() {
      const response = await Api().post("tradeLink", {
        tradeLink: this.tradeLink
      });
      this.$store.dispatch("setTradeLink", this.tradeLink);
      this.dialog = false;
      console.log(response);
    },
    async ethAddrSubmit() {
      const response = await Api().post("ethAddr", {
        ethAddr: this.ethAddr,
        funds: this.funds
      });
      this.$store.dispatch("setEthAddr", this.ethAddr);
      this.addr_dialog = false;
      console.log(response);
    },

    async withdrawFunds() {
      const resp = await Api().post("withdrawFunds", {
        funds: this.funds,
        email: this.email
      });
      this.$v.$touch();
      this.withdraw_dialog = false;
      console.log(resp);
    }
  }
};
</script>
